@use '../abstracts/colors';


.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    font-size: 75%;
    padding: 1rem;

    &__contact{
        color: black;
        text-decoration: none;
        position: relative;
        &:hover &Tooltip{
            visibility: visible;
            opacity: 1;
        }

    }

    &__contactTooltip{
        position: absolute;
        top: -3rem;
        left: 0;
        background: colors.$boxColor1;
        width: max-content;
        height:max-content;
        padding: 0.5rem;
        visibility: hidden;
        opacity: 0; 
        transition: 0.4s ;
        border-radius: 0.25rem;

        &::after{
            content: "";
            position: absolute;
            bottom: -1rem;
            left: 2rem;
            width: 1rem;
            height: 1rem;
            border-left: 0.5rem solid transparent;
            border-right: 0.5rem solid transparent;
              
            border-top: 0.5rem solid colors.$boxColor1;
  
        }

    }


    &__copyright{
        padding-left: 0.5rem;
    }
}