@use "../abstracts/colors";
@use "../abstracts/fonts";
@use '../abstracts/animations';

.search{
    opacity: 60%;
    width: 100%;
    height: 4rem;
    border-radius: 0 0 1rem 1rem;
    background: colors.$boxColor;
    z-index: -1;
    position: absolute;
    bottom: -3.725rem;
    left: 0;
    justify-content:center;
    align-items: center;
    display: flex;
    gap: 1rem;
    transition: 0.2s all;
    animation-duration: 1s;
    animation-fill-mode: forwards; 
    &__field{
        width: 20rem;
        background: none;
        border: none;
        border-bottom: 0.15rem solid rgba(69,114,120,1);
        color: rgba(27, 107, 147, 1);
        font-family: fonts.$font1;
        font-size: 75%;
        transition: 0.2s all;
        position: relative;
        &:focus{
            outline: none;
            border-bottom: 0.3rem solid rgba(69,114,120,1);

        }



    }

    &__icon{
        color: rgba(69,114,120,1);
        transition: 0.2s all;
        &:hover{
            transform: translateY(0.25rem);
            cursor: pointer;
        }
    }

    &:hover {
        opacity: 1;
        
    }

}

